* {
  /*background-color: black;*/
  color: white;
  padding-right: 5px;
}

.clock {
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 120%;
}

.moon {
  background-color: black;
}

.volume {
  color: white;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 30px;
  min-height: 30px;
}